In [8]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)
print(series.index)


series = pd.Series(data, index=['a', 'b', 'c', 'd'])
print(series)
print(series.index)

0    10
1    20
2    30
3    40
dtype: int64
RangeIndex(start=0, stop=4, step=1)
a    10
b    20
c    30
d    40
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [30]:
#datestimeindex
dates=pd.date_range('2023-01-01',periods=3)
print(dates)
series =pd.Series([10,20,30],index=dates)
print(series)
print(series.index)
series.index=['x','y','z']
print(series)

#we can change index for any series


df=pd.DataFrame({'A':[1,2,7],'B':[3,4,5]},index=['row1','row2','row3'])
print(df)

#all the categoires needs to have equal number of elements
df.reset_index(inplace=True)
print("after making changes\n",df)

#this will convert current index to another index column and adds another indexing

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq='D')
2023-01-01    10
2023-01-02    20
2023-01-03    30
Freq: D, dtype: int64
DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq='D')
x    10
y    20
z    30
dtype: int64
      A  B
row1  1  3
row2  2  4
row3  7  5
after making changes
   index  A  B
0  row1  1  3
1  row2  2  4
2  row3  7  5

In [37]:

# Style-1
df1 = pd.DataFrame({
    'Sharayan': ['I liked it.', 'It was awful.'],
    'Aananda': ['Pretty good.', 'Bland.']
})
print(df1)

# Style-2 with custom index
df2 = pd.DataFrame({
    'Bizay ': ['I liked it.'],
    'Aasshish': ['Pretty good.', 'Bland.']
}, index=['Product A', 'Product B'])
print(df2)

#missing any elements will filled by previous values

        Sharayan       Aananda
0    I liked it.  Pretty good.
1  It was awful.        Bland.
                Bizay       Aasshish
Product A  I liked it.  Pretty good.
Product B  I liked it.        Bland.

In [40]:
#Writing dataFrames to csv 

# Importing Data from file
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)

# Writing DataFrame to CSV
df.to_csv('output.csv', index=False)

# Above code while writing to CSV will genereate a CSV file by itself

In [42]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

# View the first two rows
print("### First Two Rows ###\n")
print(df.head(2))
print("\n")

# View the last row
print("### Last Row ###\n")
print(df.tail(1))
print("\n")

# DataFrame information
print("### DataFrame Information ###\n")
df.info()
print("\n")

# Summary statistics
print("### Summary Statistics ###\n")
print(df.describe())
print("\n")

# Check dimensions of the DataFrame
print("### DataFrame Dimensions ###\n")
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")
print("\n")

# Access the 'Age' column
print("### Age Column ###\n")
print(df['Age'])
print("\n")

# Select rows by numerical index
print("### First Row by Numerical Index ###\n")
print(df.iloc[0])
print("\n")

# Select rows by condition
print("### Rows Where Age > 30 ###\n")
print(df.loc[df['Age'] > 30])
print("\n")

### First Two Rows ###

    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000


### Last Row ###

      Name  Age  Salary
2  Charlie   35   70000


### DataFrame Information ###

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes


### Summary Statistics ###

        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0


### DataFrame Dimensions ###

The DataFrame has 3 rows and 3 columns.


### Age Column ###

0    25
1    30
2    35
Name: Age, dtype: int64


### First Row by Numerical Index ###

Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object


### Rows Where Age > 30 ###

      Name  Age  Salary
2  Charlie   35   70000

In [49]:
import pandas as pd
import numpy as np
import os

# Define the relative file path
file_path = 'Datasets/bank.csv'

# Check if the file exists
if os.path.exists(file_path):
    # Load the dataset from CSV file
    bank_df = pd.read_csv(file_path)
    
    # Introduce missing values randomly
    np.random.seed(42)
    mask = np.random.rand(*bank_df.shape) < 0.1  # 10% of the values will be set to NaN
    bank_df[mask] = np.nan

    print("Missing Values in Bank Dataset:")
    print(bank_df.isnull().sum())  # Display the count of missing values in each column

    # Filling missing values using different techniques
    bank_df_ffill = bank_df.ffill()  # Forward fill
    bank_df_mean = bank_df.fillna(bank_df.mean(numeric_only=True))  # Fill with mean
    bank_df_median = bank_df.fillna(bank_df.median(numeric_only=True))  # Fill with median
    bank_df_zero = bank_df.fillna(0)  # Fill with zero

    # Expand the DataFrame with filled columns
    bank_df_expanded = pd.concat(
        [
            bank_df,
            bank_df_ffill.add_suffix('_ffill'),
            bank_df_mean.add_suffix('_mean'),
            bank_df_median.add_suffix('_median'),
            bank_df_zero.add_suffix('_zero')
        ],
        axis=1
    )

    # Display the head of the expanded DataFrame
    print("\nDataset after Filling Missing Values:")
    print(bank_df_expanded.head())

else:
    print("File not found. Please check the path.")

File not found. Please check the path.

In [4]:
#triming white spaces 
import pandas as pd
df=pd.DataFrame({'Name':['Alice  ','Bob'],'Age':[25,30]})
print(df)

#now removing white spaces 
df['Name']=df['Name'].str.strip()

print("After removing white spaces \n",df)

      Name  Age
0  Alice     25
1      Bob   30
After removing white spaces
     Name  Age
0  Alice   25
1    Bob   30

In [7]:
f=pd.DataFrame({'Age':['25','30','35']})
print("Before changing datatype\n",f)
df['Age']=df['Age'].astype(int)
print("After change\n",f)

Before changing datatype
   Age
0  25
1  30
2  35
After change
   Age
0  25
1  30
2  35

In [9]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
print("Before changing column names:\n", df)

# Rename columns
df = df.rename(columns={'Name': 'FullName', 'Age': 'Years'})
print("\nAfter changing column names:\n", df)

Before changing column names:
     Name  Age
0  Alice   25
1    Bob   30

After changing column names:
   FullName  Years
0    Alice     25
1      Bob     30

In [12]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 45]})

#ONLY REMOVES WHEN BOTH FIELDS AND VALUES ARE SAME---KARKI

# Drop duplicate rows
df = df.drop_duplicates()

# Print the DataFrame after removing duplicates
print(df)

    Name  Age
0  Alice   25
1    Bob   30
2  Alice   45

In [19]:
import pandas as pd

# ------------------Pivoting---------------------------------------
# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}

print(data)
print(type(data))
df=pd.DataFrame(data)
print(type(df))
print(df)


#Reshaping data to show cities as columns
pivoted_df=df.pivot(index='Date',columns='City',values='Temperature')
print(pivoted_df)

{'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'], 'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'], 'Temperature': [15, 18, 16, 19]}
<class 'dict'>
<class 'pandas.core.frame.DataFrame'>
         Date       City  Temperature
0  2024-01-01  Kathmandu           15
1  2024-01-01    Pokhara           18
2  2024-01-02  Kathmandu           16
3  2024-01-02    Pokhara           19
City        Kathmandu  Pokhara
Date
2024-01-01         15       18
2024-01-02         16       19

In [20]:
import pandas as pd

# Sample DataFrame with ordinal categories
df = pd.DataFrame({'Category': ['Low', 'Medium', 'High', 'Low', 'High']})

# Ordinal encoding using map
ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
df['Category_values'] = df['Category'].map(ordinal_mapping)

print(df)

  Category  Category_values
0      Low                1
1   Medium                2
2     High                3
3      Low                1
4     High                3

In [21]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})

# Inner join
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_merged)

# Left join
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_merged)

# Outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Join:")
print(outer_merged)

Inner Join:
   ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

Left Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0

Outer Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
3   4      NaN   88.0